<div class="page-container">

   <aside class="review-container hide">
      <div id="variation">
        <%= link_to "Done with this variation", "#", class: "finishVariation" %>
        <span class='rewind'><%= link_to "Undo last move", "#" %></span>
        <span class="save-variation"><%= link_to "Save this variation", "#" %></span>
        <div class='game-board' style="width: 600px;"></div>
      </div> <!-- variation -->
    </aside> <!-- review-container -->

    <div id="master" class="game-container">
      <div class="actual-board-container">
        <ul class="board-feature-links">
          <li class='flip-orientation'><%= link_to "Flip Board", "#" %></li>
          <% unless @not_review %>
            <li class='new-variation'><%= link_to "Test a variation", "#", id: "trigger_id" %></li>
          <% end %>
        </ul>
        <div class='game-board'></div>
        <ul class="game-navigation">
          <% if @not_review %>
            <li class='move-backwards'><%= link_to "Undo move", "#" %></li>
          <% else %>
            <li class='beg'><%= link_to "<i class=\"fa fa-step-backward fa-3x\"></i>".html_safe, "#" %></li>
            <li class='rewind'><%= link_to "<i class=\"fa fa-angle-left fa-3x\"></i>".html_safe, "#" %></li>
            <li class='fast-forward'><%= link_to "<i class=\"fa fa-angle-right fa-3x\"></i>".html_safe, "#" %></li>
            <li class='end'><%= link_to "<i class=\"fa fa-step-forward fa-3x\"></i>".html_safe, "#" %></li>
          <% end %>
        </ul>
      </div> <!-- actual-board-container -->
      <% unless @not_review %>
        <% @moves.each_with_index do |move, index| %>
        <%= link_to move.notation, "#", class: 'game-move', data: {fen: move.fen, move_number: index + 1} %>
      <% end %>
    <% end %>
    </div> <!-- master -->


      <% if @not_review %>
        <%= button_to review_game_url(game.id), method: 'get', class: 'spinner ladda-button', data: {style: "expand-right", color: "mint"} do %>
          <span class="ladda-label">Submit</span>
        <% end %>
      <% end %>
</div> <!-- container -->



    <% unless @not_review %>
      <section class="vid-chat" id="notesSection">
        <div id="youPublisher"></div>
        <!-- <div id="guestPublisher"></div> -->
      </section>
    <% end %>
<!--
<div class='pgn-container'>
          <ul id="pgn-variation"></ul>
        </div> <!-- pgn-container -->


      <!--   <div class="note-form">
          <input type='text'>
          <%#= link_to "Submit", "#", id: "noteSubmit" %>
        </div>
        <ul class="notes-list"></ul> -->
