<!DOCTYPE html>
<html>
<head>
  <title>ChessExplained</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <% if current_page?(review_game_url(params[:id] || 1)) %>
    <script src='http://static.opentok.com/webrtc/v2.2/js/opentok.min.js'></script>
  <% end %>
  <script>
    var App = {};
    if ( window.location.pathname == "/games/<%= params[:id] %>/review"  ) {
      var channelNameVar = "<%= in_words(@game.try(:id) || nil) %>";
    } else if(  window.location.pathname == "/"  ) {
      var channelNameVar = "home";
    } else if(  window.location.pathname == "/games/<%= params[:id] %>"  ) {
      var channelNameVar = "<%= in_words(@game.try(:id) || nil) %>_setup";
    }
    App.config = {
      websocketUrl: "<%= request.host %>:<%= request.port %>/websocket" || "chess-explained.herokuapp.com/websocket",
      isGame: <%= current_page?(game_url(params[:id] || 1)) %> || <%= current_page?(review_game_url(params[:id] || 1)) %>,
      isReview: <%= current_page?(review_game_url(params[:id] || 1)) %>,
      isHome: <%= current_page?(root_url) %>,
      gameId: <%= @game.try(:id) || "null" %>,
      isNewGame: <%= current_page?(new_game_url) %>,
      channelName: channelNameVar
    }
  </script>
</head>
<body>
<%= render 'layouts/navigation' %>
<%= yield %>

<%= javascript_include_tag "application" %>
<script>
  App.dispatcher = new WebSocketRails(App.config.websocketUrl, true);
  App.config.engine = new Chess();
</script>
</body>
</html>
