<!DOCTYPE html>
<html>
<head>
  <title>ChessExplained</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script>
    var MyChess = {};
    MyChess.config = {
      websocketUrl: "<%= request.host %>:<%= request.port %>/websocket" || "chess-explained.herokuapp.com/websocket",
      isGame: <%= current_page?(game_url(params[:id] || 1)) %> || <%= current_page?(review_game_url(params[:id] || 1)) %>,
      isReview: <%= current_page?(review_game_url(params[:id] || 1)) %>,
      gameId: <%= @game.try(:id) || "null" %>
    }
  </script>
</head>
<body>
<!-- <nav class='app-nav'>
  <h1 class='logo'>
    <%#= link_to root_url do %>
      Chess<span class='logo-explained'>Explained</span>
    <%# end %>
  </h1>
</nav> -->
<%= yield %>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
